body{
  color: #999999;
  background-color: #222222;
}

#viewer{
  width: 30vw;
  height: 30vw;
  margin-left: auto;
  margin-right: auto;
}

#heading{
  text-align: center;
  font-size: 200%;
}

#resetview{
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
